.navbar {
  background-color: #faffff;
}

.brand {
  color: gold !important;
  font-weight: bold;
}
.list_item {
  color: rgb(118, 120, 121);
  margin-right: 10px;
  font-weight: bold;
  text-decoration: none;
}
