.navbar {
  background-color: rgb(178, 143, 143);
}

.brand {
  color: gold !important;
  font-weight: bold;
}
.list_item {
  color: aliceblue;
  margin-right: 10px;
  font-weight: bold;
  text-decoration: none;
}
