#wrapper {
  overflow-x: hidden;
  background-color: #f9fbfd;
}

#sidebar-wrapper {
  background: #1b253f;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.06);
  min-height: 100vh;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  color: #ffffff;
  background: #5b82fd;
  padding: 17px 0px;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#sidebar-wrapper .list-group a:hover {
  background: #5b82fd;
  color: white;
}

.navbar {
  padding: 14.8px 0;
}

#page-content-wrapper {
  min-width: 100vw;
}

#menu-toggle {
  cursor: pointer;
}

.toggle-icon {
  cursor: pointer;
}

@media (min-width: 992px) {
  .toggle-icon {
    display: none;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}

@media (max-width: 992px) {
  #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}