#wrapper {
  overflow-x: hidden;
  background-color: #f2f2f2;
}

#sidebar-wrapper {
  background: #ffffff;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.06);
  color: black;
  min-height: 100vh;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  color: #5b82fd;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

/* #sidebar-wrapper .list-group a {
  background: #54d487;
  color: black;
 
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 5px 20px;
  margin: 4px;
  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
} */

#sidebar-wrapper .list-group a:hover {
  background: #54d487;
  color: white;
}

.navbar {
  padding: 14.8px 0;
}

#page-content-wrapper {
  min-width: 100vw;
}

#menu-toggle {
  cursor: pointer;
}

.toggle-icon {
  cursor: pointer;
}

@media (min-width: 768px) {
  .toggle-icon {
    display: none;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}
